@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonials-section{
    width: 100vw;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(227,235,246);
    margin-bottom: 30px;
}

.testimonials-section h2{
    color: rgb(59, 63, 74);
    font-size: 40px;
    font-weight: bold;
}
.testimonials-section p{
    color: rgba(69, 89, 122, 0.6);
    font-size: 22px;
}
.testimonials-container{
    min-height: 400px;
    width: 40vw;
    margin: auto;
    background-color: #6366F1;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.testimonials-container h4{
    font-family: "EB Garamond", serif;
    color: antiquewhite;
}
.testimonial {
    color: white;

    margin: auto;
    font-style: italic;
  }
  @media only screen and (max-width: 800px) {
    .testimonials-container {
      height: 300px;
      width: 90vw;
      padding: 15px;
      border-radius: 5px;
    }
    .testimonial {
      width: 70vw;
    }
  }